In [1]:
#Import dependecies
import pandas as pd
import numpy as np
import matplotlib
from datetime import datetime as dt

In [2]:
#Extract data from csvs on carbon metrics from 2020
carbon_df = pd.read_csv('input_data/carbon.csv')

# Rename first column to 'city' for common primary key and county column as well for consistency
carbon_df = carbon_df.rename(columns ={'carbon_city': 'city', 'carbon_county': 'county'})

# Convert date from object to datetime format
carbon_df["carbon_date"] = pd.to_datetime(carbon_df["carbon_date"], format='mixed')

carbon_df.head()

,city,county,carbon_mean,carbon_method,carbon_site,carbon_date
0,Redwood City,San Mateo,0.373913,INSTRUMENTAL - NONDISPERSIVE INFRARED,1001,2020-01-01
1,Redwood City,San Mateo,0.550000,INSTRUMENTAL - NONDISPERSIVE INFRARED,1001,2020-01-02
2,Redwood City,San Mateo,0.673913,INSTRUMENTAL - NONDISPERSIVE INFRARED,1001,2020-01-03
3,Redwood City,San Mateo,0.447826,INSTRUMENTAL - NONDISPERSIVE INFRARED,1001,2020-01-04
4,Redwood City,San Mateo,0.395652,INSTRUMENTAL - NONDISPERSIVE INFRARED,1001,2020-01-05

In [3]:
print(carbon_df.dtypes)

city                     object
county                   object
carbon_mean             float64
carbon_method            object
carbon_site               int64
carbon_date      datetime64[ns]
dtype: object

In [15]:
#Extract data from csvs on nitrogen metrics from 2020
nitrogen_df = pd.read_csv('input_data/nitrogen1.csv')

# Rename first column to 'city' for common primary key and county column as well for consistency
nitrogen_df = nitrogen_df.rename(columns ={'nitrogen_city': 'city', 'nitrogen_county': 'county'})

# Convert date from object to datetime format
nitrogen_df["nitrogen_date"] = pd.to_datetime(nitrogen_df["nitrogen_date"], format='mixed')

nitrogen_df.head()

,city,county,nitrogen_mean,nitrogen_method,nitrogen_site,nitrogen_date
0,Redwood City,San Mateo,7.382609,INSTRUMENTAL - CHEMILUMINESCENCE,1001,2020-01-01
1,Redwood City,San Mateo,14.572727,INSTRUMENTAL - CHEMILUMINESCENCE,1001,2020-01-02
2,Redwood City,San Mateo,17.608696,INSTRUMENTAL - CHEMILUMINESCENCE,1001,2020-01-03
3,Redwood City,San Mateo,13.047826,INSTRUMENTAL - CHEMILUMINESCENCE,1001,2020-01-04
4,Redwood City,San Mateo,10.252174,INSTRUMENTAL - CHEMILUMINESCENCE,1001,2020-01-05

In [6]:
#Extract data from csvs on ozone metrics from 2020
ozone_df = pd.read_csv('input_data/ozone1.csv')

# Rename first column to 'city' for common primary key and county column as well for consistency
ozone_df = ozone_df.rename(columns ={'ozone_city': 'city', 'ozone_county': 'county'})

# Convert date from object to datetime format
ozone_df["ozone_date"] = pd.to_datetime(ozone_df["ozone_date"], format='mixed')

ozone_df.head()

,city,county,ozone_mean,ozone_method,ozone_site,ozone_date
0,San Francisco,San Francisco,0.019130,INSTRUMENTAL - ULTRA VIOLET,5,2020-01-01
1,San Francisco,San Francisco,0.009000,INSTRUMENTAL - ULTRA VIOLET,5,2020-01-02
2,San Francisco,San Francisco,0.009217,INSTRUMENTAL - ULTRA VIOLET,5,2020-01-03
3,San Francisco,San Francisco,0.023087,INSTRUMENTAL - ULTRA VIOLET,5,2020-01-04
4,San Francisco,San Francisco,0.025783,INSTRUMENTAL - ULTRA VIOLET,5,2020-01-05

In [7]:
#Extract data from csvs on particulate matter 10 (with a diameter of 10 microns or less ) metrics from 2020
pm10_df = pd.read_csv('input_data/pm10_1.csv')

# Rename first column to 'city' for common primary key and county column as well for consistency
pm10_df = pm10_df.rename(columns ={'10_city': 'city', '10_county': 'county'})

# Convert date from object to datetime format
pm10_df["pm_10_date"] = pd.to_datetime(pm10_df["pm_10_date"], format='mixed')

pm10_df.head()

,city,county,10_mean,10_method,10_site,pm_10_date
0,San Francisco,San Francisco,17.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,5,2020-02-09
1,San Francisco,San Francisco,14.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,5,2020-01-04
2,San Francisco,San Francisco,9.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,5,2020-01-16
3,San Francisco,San Francisco,20.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,5,2020-01-28
4,San Francisco,San Francisco,29.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,5,2020-02-21

In [8]:
#Extract data from csvs on particulate matter 25 (with a diameter of 25 microns or less) metrics from 2020
pm25_df = pd.read_csv('input_data/pm25_1.csv')

# Rename first column to 'city' for common primary key and county column as well for consistency
pm25_df = pm25_df.rename(columns ={'25_city': 'city', '25_county': 'county'})

# Convert date from object to datetime format
pm25_df["pm_25_date"] = pd.to_datetime(pm25_df["pm_25_date"], format='mixed')

pm25_df.head()

,city,county,25_mean,25_method,25_site,pm_25_date
0,Roseville,Placer,23.0,R & P Model 2000 PM-2.5 Air Sampler w/VSCC - G...,6,2020-01-04
1,Roseville,Placer,4.8,R & P Model 2000 PM-2.5 Air Sampler w/VSCC - G...,6,2020-01-16
2,Roseville,Placer,5.9,R & P Model 2000 PM-2.5 Air Sampler w/VSCC - G...,6,2020-01-28
3,Roseville,Placer,2.2,R & P Model 2000 PM-2.5 Air Sampler w/VSCC - G...,6,2020-02-09
4,Roseville,Placer,12.6,R & P Model 2000 PM-2.5 Air Sampler w/VSCC - G...,6,2020-02-21

In [9]:
#Extract data from csvs on sulfur metrics from 2020
sulfur_df = pd.read_csv('input_data/sulfur1.csv')

# Rename first column to 'city' for common primary key and county column as well for consistency
sulfur_df = sulfur_df.rename(columns ={'sulfur_city': 'city', 'sulfur_county': 'county'})

# Convert date from object to datetime format
sulfur_df["sulfur_date"] = pd.to_datetime(sulfur_df["sulfur_date"], format='mixed')

sulfur_df.head()

,city,county,sulfur_mean,sulfur_method,sulfur_site,sulfur_date
0,Vallejo,Solano,0.968182,INSTRUMENTAL - PULSED FLUORESCENT,4,2020-01-01
1,Vallejo,Solano,1.031818,INSTRUMENTAL - PULSED FLUORESCENT,4,2020-01-02
2,Vallejo,Solano,0.936364,INSTRUMENTAL - PULSED FLUORESCENT,4,2020-01-03
3,Vallejo,Solano,0.886364,INSTRUMENTAL - PULSED FLUORESCENT,4,2020-01-04
4,Vallejo,Solano,0.800000,INSTRUMENTAL - PULSED FLUORESCENT,4,2020-01-05

In [6]:
# Calculate the median AQI for all pollutant types by month
#Carbon
carbon_jan = carbon_df[(carbon_df['carbon_date'] >= '2020-01-01') & (carbon_df['carbon_date'] <= '2020-01-31')]
median_carbon_jan = carbon_jan['carbon_mean'].median()
#print(median_carbon_jan)

0.417391

In [6]:
# Create an empty DataFrame to store the results for median carbon by month
median_carbon_by_month_by_city = []

# Get the list of unique cities
cities = carbon_df['city'].unique()

# Loop through each city
for city in cities:
    # Loop through each month in 2020
    for month in range(1, 13):
        start_date = f'2020-{month:02d}-01'
        end_date = pd.to_datetime(start_date).replace(day=1) + pd.DateOffset(months=1) - pd.DateOffset(days=1)
        
        # Filter data for the specified city and month
        carbon_month_city = carbon_df[(carbon_df['city'] == city) &
                                      (carbon_df['carbon_date'] >= start_date) &
                                      (carbon_df['carbon_date'] <= end_date)]
        
        # Calculate the median AQI for carbon
        median_carbon = carbon_month_city['carbon_mean'].median()
        
        # Append the result to the list
        median_carbon_by_month_by_city.append({'City': city, 'Month': start_date, 'Carbon Median': median_carbon})

#Convert the list to a DataFrame
median_carbon_by_month_by_city = pd.DataFrame(median_carbon_by_month_by_city)

# Display the median AQI for carbon for each month in 2020
median_carbon_by_month_by_city

             City       Month  Carbon Median
0    Redwood City  2020-01-01       0.512862
1    Redwood City  2020-02-01       0.500000
2    Redwood City  2020-03-01       0.331884
3    Redwood City  2020-04-01       0.300000
4    Redwood City  2020-05-01       0.219565
..            ...         ...            ...
199  Arden-Arcade  2020-08-01       0.199521
200  Arden-Arcade  2020-09-01       0.347916
201  Arden-Arcade  2020-10-01       0.414167
202  Arden-Arcade  2020-11-01       0.397396
203  Arden-Arcade  2020-12-01       0.441029

[204 rows x 3 columns]

## Revise nitrogen to display median by city using the carbon example above ##

In [16]:
# Create an empty DataFrame to store the results for median nitrogen by month
median_nitrogen_by_month = []

# Loop through each month in 2020
for month in range(1, 13):
    start_date = f'2020-{month:02d}-01'
    end_date = pd.to_datetime(start_date).replace(day=1) + pd.DateOffset(months=1) - pd.DateOffset(days=1)
    
    # Filter data for the specified month
    nitrogen_month = nitrogen_df[(nitrogen_df['nitrogen_date'] >= start_date) & (nitrogen_df['nitrogen_date'] <= end_date)]
    
    # Calculate the median AQI for carbon
    median_nitrogen = nitrogen_month['nitrogen_mean'].median()
    
    # Append the result to the list
    median_nitrogen_by_month.append({'Month': start_date, 'Nitrogen Median': median_nitrogen})

#Convert the list to a DataFrame
median_nitrogen_by_month = pd.DataFrame(median_nitrogen_by_month)

# Display the median AQI for carbon for each month in 2020
median_nitrogen_by_month

         Month  Nitrogen Median
0   2020-01-01        10.647826
1   2020-02-01        10.443478
2   2020-03-01         5.833300
3   2020-04-01         3.550000
4   2020-05-01         3.404348
5   2020-06-01         3.395652
6   2020-07-01         3.178261
7   2020-08-01         4.743478
8   2020-09-01         6.767391
9   2020-10-01         9.834783
10  2020-11-01        10.923913
11  2020-12-01        12.571739

## After calculating monthly median for all pollutants, import the income csv and run a regression on AQI with income as the independent variable ##